name: Deploy to cPanel

on:
  push:
    branches:
      - main  # Cambia esto si tu rama principal se llama 'master'

jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Get latest code
      uses: actions/checkout@v4
    
    - name: Sync files
      uses: SamKirkland/FTP-Deploy-Action@v4.3.5
      with:
        server: ${{ secrets.FTP_SERVER }}
        username: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        server-dir: app/  # Directorio destino en el servidor (ej: public_html/ o el root de tu app Python)
        exclude: |
          **/.git*
          **/.git*/**
          **/venv/**
          **/__pycache__/**
          .env
